[submodule "libheif"]
	path = libheif
	url = git@github.com:strukturag/libheif.git
[submodule "dav1d"]
	path = dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "rav1e"]
	path = rav1e
	url = git@github.com:xiph/rav1e.git
